:root {
  --primary: #4ACF4F;
  --secondary: #263238;
  --info: #2194f3;
  --gray: #64748b;
  --light: #f8fafc;
  --white: #ffffff;

  --max-width: 1200px;
  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
    color: var(--secondary)
}
.header {

    display: flex;
    background: white;
    padding: 20px 0;
    margin: auto;
    max-width: var(--max-width);
    justify-content: space-around;
}

h1 {
    font-size: 64px;
}

.nav {
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

.nav2 {
    display: flex;
    gap: 1rem;
}

.encabezado {
    display: flex;
    justify-content: space-around;
    background: 
    linear-gradient(white, rgb(228, 227, 227));
    padding: 60px 0;
}

.inicio {
    color: var(--primary);
}

.clientes {
    text-align: center;
    padding: 5rem 0 5rem;
}
.clientes h2{
    font-size: 36px;
}
.clientes p{
    font-size: 16px;
}

.logotip {
    display: flex;
    justify-content: space-evenly;
    
}

.logo {
    width: 5rem;
}

.contai-community {
    text-align: center;
    background: var(--light);


}

.contai-community h2{
    font-size: 36px;
}
.conainer-community {
    width: 100%;
}

.contai-community p {
    font-size: 16px;
}

.communities {
    display: flex;
    gap: 30px;
    margin-top: 3rem;
}
.community {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.096);
    margin-bottom: 20px;
}

.encabezado2 {
    
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}

.encabezado3 {
    display: flex;
    justify-content: space-around;
    background: rgba(211, 211, 211, 0.205);
}

.tittle3{
    padding: 3rem;
}
.cifra {
    display: flex;
    align-items: center;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.encabezado4 {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}

.encabezado5 {
    background: rgba(211, 211, 211, 0.205);;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.encabezado5 span{
    font-size: 20px;
    font-weight: 600;
}

.encabezado5 .tesla{
    border-radius: 1rem;
    box-shadow: 0 1 2 black;
    height: 326px;
    width: 326px;
    margin-right: 70px;
}

.encabezado6 h2{
    margin-top: 4rem;
}
.encabezado6 {
    text-align: center;
    margin-top: 5rem;
}

.encabezado6 p{
    margin-top: 1rem; 
}

.container2 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
} 

.container2 img{
    object-fit: cover;
    border-radius: 1rem;
    width: 30rem;
    height: 20rem;

}

.carta {
    background: #F5F7FA;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.260);
    border-radius: 1rem;
    width: 25rem;
    height: 11rem;
    padding: 1rem;
    margin-left: 2.5rem;
    position: absolute;
    bottom: 5rem;
    position: relative;
    z-index: 10;
}

.carta p {
    font-size: 1.2 rem;
    
}

.parrafo {
    color: #717171;
    font-weight: 600;
}

.cta {
  padding: 60px 0;
  text-align: center;
}

.container h2{
    font-size: 64px;
}

.container button{
    width: 178px;
    height: 52px;
    font-size: 16px;
}

.btn-primary {
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
}

.btn.tercer {
    background: var(--light);
    color: var(--primary);
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

footer{
    background: #263238;
    height: 8rem;
    
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .encabezado,
  .communities,
  .container2 {
    flex-direction: column;
    text-align: center;
  }

  nav {
    display: none;
  }
}



